body {
  font-family: sans-serif;
  background-color: lightblue;
}

#title {
  text-align: center;
  color: darkcyan;
  font-size: 50px;
}

h2 {
  color: orangered;
}
.buttons {
  text-align: center;
}

.buttons button {
  height: 40px;
  width: 20%;
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 10px;
}

.buttons button:focus {
  outline: 0;
}

.Score h2,
.Score p {
  margin: 0px;
  display: inline-block;
  padding: 1px;
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.display {
  text-align: center;
}

#display-results {
  color: blue;
}
#rock:hover {
  background-color: gray;
}

#scissors:hover {
  background-color: lightcoral;
}

#paper:hover {
  background-color: lightgreen;
}
